#dashboard {
  .header-body, .content-body .row {
    max-width: 1000px;
    margin: auto;
  }

  .main-content {
    margin-left: 0px !important;
    transition: margin-left .4s;
  }

  .sidenav {
    transform: translateX(-250px);
  }

  &.nav-open {
    .main-content {
      margin-left: 250px !important;
    }

    .sidenav {
      transform: translateX(0px);
    }
  }

  .avatar {
    background-color: white;
  }

  #items_table.table{
    td, th {
      white-space: normal;
      padding-right: 0;
    }
    td:last-child {
      padding-left: 0;
    }

    .item_base_id {
      min-width: 100px;
    }
    .item_images {
      min-width: 160px;
    }
    .item_updated_at {
      min-width: 135px;
    }
  }

  .nav-item .nav-link.active.active-pro {
    position: absolute;
    bottom: 10px;

    width: 100%;
    margin-left: 0 !important;
    padding-left: 25px !important;

    border-radius: 0 !important;
    background: #f6f9fc;
  }

  .base-link.btn-icon .btn-inner--icon img {
    width: 110px;
  }
}

@media (max-width: 990px) {
  #dashboard {
    #items_table.table{
      .item_images {
        display: none;
      }
    }
  }
}
@media (max-width: 767px) {
  #dashboard {
    #items_table.table{
      .item_updated_at {
        min-width: 0;
      }
    }
  }
}
